@font-face {
  font-family: 'ia';
  src: url('/plex-mono.woff') format('woff');
}
@font-face {
  font-family: 'ia-bold';
  src: url('/plex-mono-bold.woff') format('woff');
}

.bold {
  font-family: 'ia-bold';
}

body {
  font-family: 'ia';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
}

.content {
  margin: 8rem 0;
  width: 100%;
}
@media (min-width: 1025px) {
  .content {
    width: calc(100% - 300px);
    margin-left: 300px;
  }  
}

.sled-wrapper {
  flex-grow: 1;
  padding: 0 1rem;
}
@media (min-width: 1025px) {
  .sled-wrapper {
    padding: 0 2rem;
  }
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
}
.controls > button {
  margin: 10px;
}

.testContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
}