/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2rem;
  height: 1rem;
  left: 1rem;
  top: 1.5rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-overlay {
  top: 0;
}