/* direction */

.sled-control-direction-default {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
  border: none;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0.5;
}

.sled-control-direction-default.sled-control-direction-disabled {
  pointer-events: none;
}

.sled-control-direction-default.sled-control-direction-prev {
  transform-origin: right center;
}
.sled-control-direction-default.sled-control-direction-prev:before {
  border-left: 3px solid black;
  transform: rotate(-45deg);
}

.sled-control-direction-default.sled-control-direction-next {
  transform-origin: left center;
}
.sled-control-direction-default.sled-control-direction-next:before {
  border-right: 3px solid black;
  transform: rotate(45deg);
}

.sled-control-direction-default:focus {
  box-shadow: none;
  outline: none;
}

.sled-control-direction-default:before {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
}

.sled-control-direction-default:focus {
  opacity: 1;
}

.sled-control-direction-default:hover, 
.sled-control-direction-default:active {
  opacity: 1;
  transform: scale(1.2);
}

.sled-control-direction-default-disabled {
  opacity: 0.25;
}

/* index */

.sled-control-index-default {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
  border: none;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0.4;
}

.sled-control-index-default.sled-control-index-disabled {
  pointer-events: none;
}

.sled-control-index-default:focus {
  box-shadow: none;
  outline: none;
}

.sled-control-index-default:before {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background: grey;
  border-radius: 50%;
}

.sled-control-index-default:hover, 
.sled-control-index-default:focus {
  transform: scale(1.2);
}

.sled-control-index-default:hover, 
.sled-control-index-default:focus, 
.sled-control-index-default:active {
  opacity: 0.6;
}

.sled-control-index-default:disabled {
  pointer-events: none;
}

.sled-control-index-default-active {
  opacity: 1;
  pointer-events: none;
}