@font-face {
  font-family: 'ia';
  src: url('../../fonts/plex-mono.woff') format('woff');
}
@font-face {
  font-family: 'ia-bold';
  src: url('../../fonts/plex-mono-bold.woff') format('woff');
}

.bold {
  font-family: 'ia-bold';
}

body {
  font-family: 'ia';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
}

.content {
  position: relative;
  /* z-index: -1; */
  margin-top: 8rem;
  width: 100%;
}
@media (min-width: 1025px) {
  .content {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;  
    z-index: 10000;
  }  
}

.sled-wrapper {
  flex-grow: 1;
  padding: 0 1rem;
}
@media (min-width: 1025px) {
  .sled-wrapper {
    padding: 0 2rem;
  }
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
}
.controls > button {
  margin: 10px;
}

