.settings {
  position: relative;
  width: 300px;
  z-index: 100;
  background: #fff;
  box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.1);
  top: 0;
}

@media (min-width: 1025px) {
  .settings {
    top: 4rem;
  }
}

.bm-item-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
  padding: 1rem 0 8rem 0;
}

.settings__column--3 {
  margin-top: 1rem;
}
.background {
}


h2 {
  
}

.settings__h2 {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  height: 3.5rem;
  user-select: none;
  display: flex;
  align-items: center;
}
.settings__h2:focus {
  outline: none;
  box-shadow: none;
}

.settings__h3 {
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0 10px 0 0;
  min-width: 150px;
  flex-grow: 1;
}

.settings__label {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0;
  margin-left: 2rem;
  height: 2.5rem;
  border-top: 1px solid #ebebeb;
}

.react-toggle {
  margin-left: 1rem;
}

.settings__input {
  font-family: 'ia';
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background: #efefef;
  box-shadow: none;
}

.rc-slider-handle {
  border-color: red !important;
}
.rc-slider-rail {
  background-color: #ccc !important;
}
.rc-slider-track {
  background-color: red !important;
}
