body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  margin-bottom: 50vh;
}

@media (min-width: 1025px) {
  .content {
    display: flex;
  }
}

h1 {
  text-align: center;
}

h1 span {
  font-size: 2em;
  position: relative;
  top: 0.25em;
}

h2 {
  font-size: 20px;
}

.github {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 16px;
  right: 20px;
}
.github svg {
  width: 100%;
}

.github:hover path,
.github:active path {
  fill: #cc1d1c;
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
}
.controls > button {
  margin: 10px;
}

.sled-wrapper {
  flex-grow: 1;
}
@media (min-width: 1025px) {
  .sled-wrapper {
    padding-left: 25px;
  }
}

.props {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 1025px) {
  .props {
    max-width: 400px;
  }
}

.column {
  padding: 20px;
  flex-grow: 1;
}
.column--2 {
  background: #efefef;
  flex-grow: 5;
}

.props__h2 {
  margin: 0 10px 0 0;
}
/* .column--2 .props__label:first-child {
  margin-bottom: 0px;
} */

.props__h3 {
  font-family: monospace;
  font-weight: normal;
  font-size: 16px;
  margin: 0 10px 0 0;
  min-width: 150px;
}

.props__label {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 25px;
}

.props__label--config {
}

.react-toggle {
  margin-right: 15px;
}

.props__input {
  font-size: 20px;
  font-family: serif;
  text-align: center;
  padding: 5px;
  height: 25px;
  margin-right: 15px;
  font-weight: bold;
}

.rc-slider-handle {
  border-color: red !important;
}
.rc-slider-rail {
  background-color: #fff !important;
}
.rc-slider-track {
  background-color: red !important;
}
