.sled {
  position: relative;
  overflow: hidden;
  user-select: none;
}
.sled:focus,
.sled-view:focus {
  outline: none;
}

/* .sled-proportion::after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
} */
