body {
  margin: 0;
  padding: 0;
}

.content {
  margin-bottom: 50vh;
}

h1 {
  text-align: center;
}

h1 span {
  font-size: 2em;
  position: relative;
  top: 0.25em;
}

.github {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 16px;
  right: 20px;
}
.github svg {
  width: 100%;
}

.github:hover path,
.github:active path {
  fill: #cc1d1c;
}

.controls {
  display: flex;
  justify-content: center;
}
.controls > button {
  margin: 10px;
}

.goto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

h2 {
  font-size: 20px;
  margin: 0 1em 0 0;
}

.goto__input {
  font-size: 20px;
  font-family: serif;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}
