.sled-progress-default {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 20px;
}

.sled-progress-default-rail {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
  background: black;
  height: 4px;
}

.sled-progress-default-track {
  background: red;
  height: 4px;
}

.sled-progress-default-separators {
  position: absolute;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;  
}

.sled-progress-default-separator {
  width: 4px;
  background: white;
}

/* Mimic "justify-content: space-evenly;" */
.sled-progress-default-separators:before,
.sled-progress-default-separators:after {
  content: '';
  display: block;
  height: 100%;
}

.sled-progress-default-controls {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.sled-progress-default-control {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}